doctype html
html(ng-app='kamikikaiApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'カミキカイ inc.'
    script.
      var ps = Date.now();
    link(rel='stylesheet', href='/styles/styles.css')
  body(ng-class='{loaded: loaded}', ng-controller='MainCtrl')
    .sidebar
      .sidebar__logo
        //- app/images/logo:svg
        //- endinject
      .sidebar__name= 'カミキカイ inc.'
      .menu(du-spy-context)
        .menu__circle
        .menu__list
          a(href='#motto', du-smooth-scroll, du-scrollspy)= 'Motto'
        .menu__list
          a(href='#party', du-smooth-scroll, du-scrollspy)= 'Party'
        .menu__list
          a(href='#info', du-smooth-scroll, du-scrollspy)= 'Info'
        .menu__list
          a(href='#links', du-smooth-scroll, du-scrollspy)= 'Links'
    .v-spy(href='#motto', du-spy-context, du-scrollspy)
    .v-spy(href='#party', du-spy-context, du-scrollspy)
    .v-spy(href='#info', du-spy-context, du-scrollspy)
    .v-spy(href='#links', du-spy-context, du-scrollspy)
    .content
      #motto.section
        .section__square
          img.section__img(src='images/motto.svg')
      #party.section
        .section__square
          .members
          //canvas.member-canvas(width='540', height='540')
          //label.member(ng-repeat='member in members')
          //  input.member__radio(type='radio', name='member')
          //  .member__info
          //    img.member__icon(ng-src='{{member.icon}}')
          //    .member__name(ng-bind='member.name')
          //    .member__comment(ng-bind='member.comment')
      #info.section
        .section__square
      #links.section
        .section__square
          a(href='https://twitter.com/kamikikai', target='_blank')= 'twitter'
          a(href='https://www.facebook.com/kamikikai.inc', target='_blank')= 'facebook'
          a(href='https://github.com/kamikikai', target='_blank')= 'github'
      #footer.section
        .section__square
          .copyright= '© 2015 カミキカイ inc.'
    if env == 'dev'
      //- inject:js
      //- endinject
    else
      script(src='/scripts/vender.js')
    script(src='/scripts/app.js')
