doctype html
html(ng-app='kamikikaiApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'カミキカイ inc.'
    script.
      var ps = Date.now();
    link(rel='stylesheet', href='/styles/styles.css')
  body(ng-class='{loaded: loaded}', ng-controller='MainCtrl')
    #fb-root
    script
      | (function(d, s, id) {
      |  var js, fjs = d.getElementsByTagName(s)[0];
      |  if (d.getElementById(id)) return;
      |  js = d.createElement(s); js.id = id;
      |  js.src = "//connect.facebook.net/ja_KS/sdk.js#xfbml=1&version=v2.3&appId=1461556810805383";
      |  fjs.parentNode.insertBefore(js, fjs);
      | }(document, 'script', 'facebook-jssdk'));
    .sidebar
      .sidebar__logo
        //- app/images/logo:svg
        //- endinject
      .sidebar__name= 'カミキカイ inc.'
      .menu(du-spy-context)
        .menu__circle
        .menu__list
          a(href='#motto', du-smooth-scroll, du-scrollspy)= 'Motto'
        .menu__list
          a(href='#party', du-smooth-scroll, du-scrollspy)= 'People'
        .menu__list
          a(href='#info', du-smooth-scroll, du-scrollspy)= 'Info'
        .menu__list
          a(href='#links', du-smooth-scroll, du-scrollspy)= 'Links'
    .v-spy(href='#motto', du-spy-context, du-scrollspy)
    .v-spy(href='#party', du-spy-context, du-scrollspy)
    .v-spy(href='#info', du-spy-context, du-scrollspy)
    .v-spy(href='#links', du-spy-context, du-scrollspy)
    .content
      #motto.section
        .section__square
          img.section__img(src='images/motto.svg')
      #party.section
        .section__square
          .members
            .members__name(ng-bind='member.name')
      #info.section
        .section__square
          |<div class="fb-page" data-href="https://www.facebook.com/kamikikai.inc" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/kamikikai.inc"><a href="https://www.facebook.com/kamikikai.inc">カミキカイ inc.</a></blockquote></div></div>
      #links.section
        .section__square
          a(href='https://twitter.com/kamikikai', target='_blank')= 'twitter'
          a(href='https://www.facebook.com/kamikikai.inc', target='_blank')= 'facebook'
          a(href='https://github.com/kamikikai', target='_blank')= 'github'
      #footer.section
        .section__square
          .copyright= '© 2015 カミキカイ inc.'
    if env == 'dev'
      //- inject:js
      //- endinject
    else
      script(src='/scripts/vender.js')
    script(src='/scripts/app.js')

