doctype html
html(ng-app='kamikikaiApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= ''
    script.
      var ps = Date.now();
    link(rel='stylesheet', href='/styles/styles.css')
  body(ng-class='{loaded: loaded}', ng-controller='MainCtrl')
    .sidebar
      .sidebar__logo
        //- app/images/logo:svg
        //- endinject
      .menu
        .menu__circle
        .menu__list
          a(href='#motto')= 'MOTTO'
        .menu__list
          a(href='#party')= 'PARTY'
        .menu__list
          a(href='#info')= 'INFO'
        .menu__list
          a(href='#links')= 'LINKS'
    .content
      #motto.section
        .section__square
      #party.section
        .section__square
      #info.section
        .section__square
      #links.section
        .section__square
    if env == 'dev'
      //- inject:js
      //- endinject
    else
      script(src='/scripts/vender.js')
    script(src='/scripts/app.js')
